
:root {
    --font-color: #eee;
    --font-color-dark: #aaa;
    --border-color: #222;
    --background-header:rgba(39, 39, 39, 0.8);
    --background-light: rgba(0, 0, 0, 0.6);
    --background-light-hover: rgba(99, 99, 99, 0.4);
    --background-dark: rgba(0, 0, 0, 0.8);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.6rem;
    color: var(--font-color);
    background-image: url('images/background.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    border-style: none;
    outline: none;
  }

/* Content */
#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    background-color: var(--background-light);
    border-bottom: 1px solid var(--border-color);
}

.restaurant-name {
    font-size: 5rem;
    margin-bottom: 3rem;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .btn {
    padding: 1rem;
    font-size: 2rem;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: transform 0.3s;
}

.header .btn.active{
    border-bottom: 2px solid var(--font-color);
}

.header .btn:hover {
    transform: translateY(-10%);
}

/* Main */
.main {
    flex-grow: 1;
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home {
    margin-top: 20%;
    width: 100%;
    background-color: var(--background-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}


/* Footer */
.footer {
    width: 100%;
    padding: 2rem;
    background-color: var(--background-light);
    border-top: 1px solid var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;
}